<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/applications">Dochádzkový IS</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" style="margin-right: 15px; margin-left: 30px;">
        <a class="btn btn-outline-light my-2 my-sm-0 text-light" href="/applications/create">Vytvoriť novú žiadosť <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light my-2 my-sm-0 text-light" href="/registration">Registrovať nového zamestnanca</a>
      </li>
    </ul>
	<a class="btn btn-outline-light my-2 my-sm-0 text-light" href="/logout">Odhlásenie</a>
  </div>
</nav>


<div class="bg-light" style="height: 100%">
    <div style="display: block; width: 600px; padding-top: 75px; margin: auto;">

        <h4>Žiadosť č. {{ application.id }}</h4>

        <hr>

        {% if message %}
            <div class="alert alert-{{ message_type }} success" role="alert">
                {{ message }}                
            </div>
		{% endif %}

		<p>Meno: <strong>{{ employee.name }}</strong> </p>
		<p>Dátum: od <strong>{{application.begin_date}}</strong> do <strong>{{application.end_date}}</strong></p>
		<p>Typ:  <strong>{{ application.type }}</strong> </p>
		<p>Komentár:  <strong>{{ application.comment }}</strong> </p>

		{% if managers %}	
			<table class="table">
				<thead>
					<th>Schvaľovateľ</th>
					<th>Stav</th> 
					{% if not is_manager %}
						<th class="text-center">Komunikácia</th>
					{% endif %}
				</thead>
				{% for manager in managers %}
					<tr>
						<td>{{ manager.name }}</td> 
						<td>{{ manager.state }}</td>
						{% if not is_manager %}
							<td class="text-center">
								<a href="/applications/{{ application.id }}/conversation/{{ manager.id }}">
									<span class="badge badge-danger"><i class="fa fa-comment"></i></span>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>	
		{% else %}
			<p><strong>Žiadni schvaľovatelia</strong></p>
		{% endif %}

		{% if is_manager %}
			<form style="margin-right: 10px; float: left" action="{% url 'approval_show' application.id approval.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="approved" value="0">
				<input type="submit" class="btn btn-danger" value="Zamietnuť">
			</form>

			<form style="margin-right: 10px; float: left" action="{% url 'approval_show' application.id approval.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="approved" value="1">
				<input type="submit" class="btn btn-success" value="Schváliť">
			</form>

			<a style="margin-right: 10px; float: left" class="btn btn-primary" href="/applications/{{ application.id }}/conversation/{{ current_user }}">Napísať komentár</a>

			<div style="float: none; clear: both;"></div>
		{% endif %}

	</div>	
</div>