<h1>Žiadosť č. {{ application.id }} </h1>

<p>Meno: <strong>{{ employee.name }}</strong> </p>
<p>Dátum od <strong>{{application.begin_date}}</strong> do <strong>{{application.end_date}}</strong></p>
<p>Typ:  <strong>{{ application.type }}</strong> </p>
<p>Komentár:  <strong>{{ application.comment }}</strong> </p>

<div>
	{% if managers %}	
		<table>
			<tr>
				<th>Schvaľovateľ</th>
				<th>Stav</th> 
			</tr>
			{% for manager in managers %}
				<tr>
					<td>{{ manager.name }}</td> 
					<td>{{ manager.state }}</td>
				</tr>
		    {% endfor %}
		</table>	
	{% else %}
	    <p>Žiadni schvaľovatelia</p>
	{% endif %}
	
</div>


<form action="{% url 'approval_show' application.id approval.id%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="approved" value = "0">
    <input type="submit" value="Zamietnuť">
</form>

<form action="{% url 'approval_show' application.id approval.id%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="approved" value = "1">
    <input type="submit" value="Schváliť">
</form>