<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="bg-light" style="height: 100%">
    <div style="display: block; width: 400px; padding-top: 150px; margin: auto;">
        <h4>Dokončenie registrácie - doplnenie údajov</h4>
        
        {% if message %}
            <div class="alert alert-{{ message_type }} success" role="alert">
                {{ message }}                
            </div>
        {% endif %}

        <form action="{% url 'update_employee' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="employee_id" value="{{employee_id}}">

            <div class="form-group">
                <label>Tel. číslo</label>
                <input type="tel" name="phone">
            </div>

            <div class="form-group">
                <label>Heslo</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
                <label>Heslo znovu</label>
                <input type="password" class="form-control" name="password_repeat">
            </div>

            <input type="submit" class="btn btn-dark" value="Uložiť">
        </form>
    </div>
</div>