<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="bg-light" style="height: 100%">
  <section class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1" style="margin-top: 150px;">Dochádzkový informačný systém</h1>
      <br>
      <h5 class="mb-5">
        <em>Pred používaním systému je potrebné sa prihlásiť.</em>
      </h5>
      <br>
      <a class="btn btn-outline-dark btn-lg js-scroll-trigger" href="/sign-in">Prihlásenie</a>
    </div>
    <div class="overlay"></div>
  </section>
</div>